.navbar{
   padding-left: 10px!important;
   padding-right: 10px!important;
}

.SplashPage{
    background-image: url(/images/shop.jpg?cd0214c30615a68b379656d4c2fb2451);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    opacity: 0.5;
    text-align: center;
    display: table;
}

.titleGest{
    text-align: center;
}

.ButtonInserisci{
    text-align: right;
    margin-right:10px;
}

input[type=checkbox]{
 width:2%!important;
}

.titleGest h2{
    color:rgb(20, 111, 163);
    font-weight: 600;
    margin-top: 10px;
}

.userTable{
    text-align: center;
    margin:10px;
}

table {
    border-collapse: collapse;
    width:100%;
    border: 1px solid black;
   
}

tbody, tr, th{
    border: 1px solid black!important;
}

.testoSplash{
    display: table-cell;
    vertical-align: middle
}

.productList{
    width: 100%;
    display: flex;
    justify-content: center;
}
.prodDiv{
    width: 30%;
    margin:1%;
    text-align: center;
    border:1px solid gray;
}

.typeProduct{
    margin-left:0;
    width: 30%;
    background-color: #e3f2fd!important;
}

.type{
    font-size: 1.2em;
    color: black;
}

.login{
    margin-right: 0!important;
}

.brand{
    margin-left: 2px;
}

.loginForm{
    margin: 10%;
    border: 1px solid rgb(20, 111, 163);
    padding: 1%;
}

.buttonLogin{
    margin-top:10px;
}
