.Navbar{
    background-color: brown!important;
}

.SplashPage{
    background-image: url(../image/shop.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    opacity: 0.5;
    text-align: center;
    display: table;
}

.testoSplash{
    display: table-cell;
    vertical-align: middle
}

.productList{
    width: 100%;
    display: flex;
    justify-content: center;
}
.prodDiv{
    width: 30%;
    margin:1%;
    text-align: center;
    border:1px solid gray;
}

.typeProduct{
    margin-left:0;
    width: 30%;
    background-color: rgb(17, 0, 255);
}

.type{
    font-size: 1.2em;
    color: antiquewhite;
}

.login{
    margin-right: 0!important;
}

.brand{
    margin-left: 2px;
}

.loginForm{
    margin: 10%;
    border: 1px solid rgb(20, 111, 163);
    padding: 1%;
}

.buttonLogin{
    margin-top:10px;
}