.up, .down{
    margin-left: 10px;
    margin-right: 10px;
}

.upAndDown{
    display: flex;
    justify-content: end;
}

.navbar{
   padding-left: 10px!important;
   padding-right: 10px!important;
}

.SplashPage{
    background-image: url(../image/shop.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    opacity: 0.5;
    text-align: center;
    display: table;
}

.titleGest{
    text-align: center;
}

.labelPage{
    margin-left: 10px;
    float:left;
    margin-right: 10px;
}

#pageNumber{
    margin-left: 10px;
    width: 10%!important;
}

.rightContent{
    display: flex;
    justify-content: end;
    text-align: right;
    margin-right:10px;
}

.reload{
    margin-right: 10px;
}

.search{
    margin-right: 10px;
}

.searchInput{
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #212529;
        background-color: #f8fafc;
        background-clip: padding-box;
        border: 1px solid #ced4da;
}

input[type=checkbox]{
 width:2%!important;
}

.form-group   {
    margin-bottom: 5px;
}

.titleGest h2{
    color:rgb(20, 111, 163);
    font-weight: 600;
    margin-top: 10px;
}

.userTable{
    clear:left;
    text-align: center;
    margin:10px;
}

.selectPagination{
    margin-top: 10px;
}


table {
    border-collapse: collapse;
    width:100%;
    border: 1px solid black;
    margin-bottom: 10px;
}

tbody, tr, th{
    border: 1px solid black!important;
}

.testoSplash{
    display: table-cell;
    vertical-align: middle
}

.buttonSubmit{
    background-color: #f8fafc!important;
    border: none!important;
    font-weight: 700!important;
    color: #0d6efd;
    text-decoration: underline;
}

.productList{
    width: 100%;
    display: flex;
    justify-content: center;
}
.prodDiv{
    width: 30%;
    margin:1%;
    text-align: center;
    border:1px solid gray;
}

.typeProduct{
    margin-left:0;
    width: 30%;
    background-color: #e3f2fd!important;
}

.type{
    font-size: 1.2em;
    color: black;
}

.login{
    margin-right: 0!important;
}

.brand{
    margin-left: 2px;
}

.Form{
    margin: 10%;
    border: 1px solid rgb(20, 111, 163);
    padding: 1%;
}

.buttonLogin{
    margin-top:10px;
}